.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    min-width: 500px;
}

.winner {
    position: fixed;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
}